//-include mixins
include mixins.pug
//-fourth section
//start fourth-section
section.fourth-section
    //start info section
    .fourth-section__info-section
        h1 Awesome #[strong portfolio]
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi quia et voluptatibus dolorem.
    //finish info section
    //start images section
    .fourth-section__img-section
        +image-with-id("image1","https://storytale.io/wp-content/uploads/2020/02/handsome-11-girl-in-vistual-reality.png","#")
        +image-with-id("image2","https://storytale.io/wp-content/uploads/2020/03/superb-18-coming-soon.png","#")
        +image-with-id("image3","https://storytale.io/wp-content/uploads/2020/03/aurora-03-workflow.png","#")
        +image-with-id("image4","https://storytale.io/wp-content/uploads/2020/02/handsome-51-flowers.png","#")
    //finish images section
//finish fourth-section
