//-include mixins
include mixins.pug
//-fourth section
//start fourth-section
section.fourth-section
    //start info section
    .fourth-section__info-section
        h1
        p
    //finish info section
    //start images section
    .fourth-section__img-section
        +image-with-id("image1","#","#")
        +image-with-id("image2","#","#")
        +image-with-id("image3","#","#")
        +image-with-id("image4","#","#")
    //finish images section
//finish fourth-section
