//-include variables
include variables.pug
include mixins.pug
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Innovo
        //- style links
        link(rel="shortcut icon", href="https://storytale.io/wp-content/uploads/2020/02/handsome-11-girl-in-vistual-reality.png", type="image/x-icon")
        //- link of font awesome font
        //font awesome link
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css")
        //-main section styles
        //main section styles
        link(rel="stylesheet", href="../css/main-section.css")
        //second section styles
        link(rel="stylesheet", href="../css/second-section.css")
        //third section styles
        link(rel="stylesheet", href="../css/third-section.css")
        //link fourth section
        link(rel="stylesheet", href="../css/fourth-section.css")
        //modal styles
        link(rel="stylesheet", href="../css/modal.css")
    body
        //-include main section
        include main-section.pug
        //-include second section
        include second-section.pug
        //-include third section
        include third-section.pug
        //-include fourth section
        include fourth-section.pug
        //-include modal window
        +modal
script(src="../js/showModal.js")