//-include variables
include variables.pug
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Innovo
        //- style links
        //- link of font awesome font
        //font awesome link
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css")
        //-main section styles
        //main section styles
        link(rel="stylesheet", href="main-section.css")
        //second section styles
        link(rel="stylesheet", href="second-section.css")
    body
        //-include main section
        include main-section.pug
        //-include second section
        include second-section.pug
        //-include third section
        include third-section.pug
        //-include fourth section
        include fourth-section.pug