//-include mixins
include mixins.pug
//-main section
//start main section
main.main
    //start header
    header.main__header
        //left size
        .left-size
            h2 innovio
        // nav section
        nav.main__nav
            +header-menu
        // right size
        .main__right-size
            a(href="#")
                i(class="fa fa-search")
            a(href="#")
                i(class="fa fa-shopping-bag")
            a(href="#")
                i(class="fa fa-bars")  
    //finish header
    //start content                         
    .content
        //content info
        .content__info
            h1. 
                All you need for your #[strong business]
            p. 
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem doloribus a reiciendis nam sequi asperiores?
            .buttons
                +button("Read More")
                +button("Get Innovio")
        //content image
        .content__img
            figure
                img(src="#", alt="image of main section")
    //finish content 
//finish main section