//-include mixins
include mixins.pug
//-second section
//start second section
section.second-section
    //start header 
    header.second-section__header
        i(class="fa fa-circle fa-spin")#circle1
        i(class="fa fa-circle fa-spin")#circle2
        i(class="fa fa-circle fa-spin")#circle3
        p Application processing
    //finish header
    //start info section
    .second-section__info
        h1 What we #[strong offer]
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex, voluptatibus.
    //finish info section
    //start cards section
    .second-section__cards-container
        +card-with-img("https://storytale.io/wp-content/uploads/2020/02/handsome-50-mailbox.png","image of card","Engine optimization")
        +card-with-img("https://storytale.io/wp-content/uploads/2020/02/handsome-24-bluetooth-speaker.png","image of card","Social media strategy")
        +card-with-img("https://storytale.io/wp-content/uploads/2020/02/handsome-69-board.png","image of card","Real time and data")
        +card-with-img("https://storytale.io/wp-content/uploads/2020/03/thursday-03-education.png","image of card","Online media management")
    //finish cards section
//finish second section
        