//-include mixins
include mixins.pug
//-third section
//start third section
section.third-section
    //info container
    .third-section__info-container
        //image
        figure.third-section__info-container-img
            img(src="#", alt="image of third section")
        //info
        .third-section__info-container-info
            h1
            p 
            +button("Read More")
    //cards container
    .third-section__cards-container
        +card-without-img("The home of technology is now in front of you"," Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error quia ratione provident, distinctio nulla quisquam enim earum perferendis!")
        +card-without-img("Let's turn your idea into a scalable business","Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ipsum unde harum quisquam quis. Modi ex aliquam numquam dolorum alias?")
        +card-without-img("Shine the new light on the digital world","Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque praesentium corporis in voluptas, possimus quisquam quas libero distinctio voluptate!")
//finish third section
