/*imports*/
/*small mobiles and medium mobiles*/
@media screen and (min-width: 320px) and (max-width: 424px) {
  .second-section {
    display: grid;
    grid-template-rows: 3rem 10rem 1fr;
  }
  .second-section__header {
    padding: 1rem;
    display: flex;
    color: #9c9da9;
/*circle 1*/
/*circle 3*/
/*circle 3*/
  }
  .second-section__header #circle1 {
    color: #000;
    padding: 0 0.5rem;
    font-size: 0.8rem;
  }
  .second-section__header #circle2 {
    color: #f84933;
    padding: 0 0.5rem;
    font-size: 0.7rem;
  }
  .second-section__header #circle3 {
    color: #9c9da9;
    padding: 0 0.5rem;
    font-size: 0.6rem;
  }
  .second-section__header p {
    padding: 0 0.5rem;
  }
  .second-section__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .second-section__info h1 {
    color: #0c204e;
    font-size: 3rem;
  }
  .second-section__info strong {
    color: #f84933;
  }
  .second-section__info p {
    color: #9c9da9;
    margin: 1.5rem 0;
  }
  .second-section__cards-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
  }
  .second-section__cards-container figure {
    margin: 0 auto;
    width: 90%;
  }
  .second-section__cards-container figure img {
    width: 100%;
  }
  .second-section__cards-container h2 {
    color: #0c204e;
    font-size: 2rem;
  }
}
/*large mobiles*/
@media screen and (min-width: 425px) and (max-width: 764px) {
  .second-section {
    display: grid;
    grid-template-rows: 3rem 10rem 1fr;
  }
  .second-section__header {
    padding: 1rem;
    display: flex;
    color: #9c9da9;
/*circle 1*/
/*circle 3*/
/*circle 3*/
  }
  .second-section__header #circle1 {
    color: #000;
    padding: 0 0.5rem;
    font-size: 0.8rem;
  }
  .second-section__header #circle2 {
    color: #f84933;
    padding: 0 0.5rem;
    font-size: 0.7rem;
  }
  .second-section__header #circle3 {
    color: #9c9da9;
    padding: 0 0.5rem;
    font-size: 0.6rem;
  }
  .second-section__header p {
    padding: 0 0.5rem;
  }
  .second-section__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .second-section__info h1 {
    color: #0c204e;
    font-size: 3rem;
  }
  .second-section__info strong {
    color: #f84933;
  }
  .second-section__info p {
    color: #9c9da9;
    margin: 1.5rem 0;
    padding: 0 1rem;
  }
  .second-section__cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    padding: 1rem;
    text-align: center;
  }
  .second-section__cards-container figure {
    margin: 0 auto;
    width: 90%;
  }
  .second-section__cards-container figure img {
    width: 100%;
  }
  .second-section__cards-container h2 {
    color: #0c204e;
    font-size: 1.5rem;
  }
}
/*tablet mobiles*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .second-section {
    display: grid;
    grid-template-rows: 3rem 10rem 1fr;
  }
  .second-section__header {
    padding: 1rem;
    display: flex;
    color: #9c9da9;
/*circle 1*/
/*circle 3*/
/*circle 3*/
  }
  .second-section__header #circle1 {
    color: #000;
    padding: 0 0.5rem;
    font-size: 0.8rem;
  }
  .second-section__header #circle2 {
    color: #f84933;
    padding: 0 0.5rem;
    font-size: 0.7rem;
  }
  .second-section__header #circle3 {
    color: #9c9da9;
    padding: 0 0.5rem;
    font-size: 0.6rem;
  }
  .second-section__header p {
    padding: 0 0.5rem;
  }
  .second-section__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .second-section__info h1 {
    color: #0c204e;
    font-size: 3rem;
  }
  .second-section__info strong {
    color: #f84933;
  }
  .second-section__info p {
    font-size: 1.5rem;
    color: #9c9da9;
    margin: 1.5rem 0;
    padding: 0 1rem;
  }
  .second-section__cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    padding: 1rem;
    text-align: center;
  }
  .second-section__cards-container figure {
    margin: 0 auto;
    width: 90%;
  }
  .second-section__cards-container figure img {
    width: 100%;
  }
  .second-section__cards-container h2 {
    color: #0c204e;
    font-size: 1.5rem;
  }
}
