/*imports*/
@import './variables'
@import './mixin'
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')
/*general styles*/
*
    padding: 0
    margin: 0
    font-family: 'Roboto', sans-serif
/*small mobiles and medium mobiles*/
@media screen and (min-width:320px) and (max-width:424px)
    html
        font-size: 10px
    /*main section styles*/
    .main
        background-color: white
    /*header*/
    .main__header
        display: grid
        padding: 1rem
        grid-template-rows: 5rem 10rem 3rem   
    /*left size*/
    .main__left-size
        color: color-b
        margin: 0 auto
        font-size: 2.5rem
    /*nav*/
    .main__nav
        display flex
        justify-content: space-between
        align-items: center
        header-menu()
        font-weight: 600
    /*right size*/
    .main__right-size
        display flex
        justify-content: space-between
        align-items: center
        font-size: 2rem    
        & i
            color: txt-color
            padding: 1rem
            border: .1rem solid txt-color
            border-radius: 100%            
        & .fa-bars
            color: white 
            background: color-a
            border: .1rem solid color-a
            border-radius: 100%
    /*content*/
    .content 
        padding: 1rem
        display: flex
        flex-direction: column
        text-align: center
    /*content info*/
    .content__info
        & h1
            color: color-b
        & strong 
            color: color-a        
        & p
            color: txt-color
            font-weight: 600
            margin 1rem 0
        & .buttons
            margin 1rem 0
            display flex
            justify-content: center
        & .button
            button()
        & #button1
            margin 0 1rem
            button-tomato()
        & #button2
            button-midnightblue()
            margin 0 1rem
    /*content image*/
    .content__img
        display: flex
        justify-content: center
        & figure
            max-width 90vw
        & img 
            width: 100%
/*large mobiles*/
@media screen and (min-width:425px) and (max-width:767px)
    html
        font-size: 13px
    /*main section styles*/
    .main
        background-color: white
    /*header*/
    .main__header
        display: grid
        padding: 1rem
        grid-template-rows: 5rem 10rem 3rem   
    /*left size*/
    .main__left-size
        color: color-b
        margin: 0 auto
        font-size: 2.5rem
    /*nav*/
    .main__nav
        display flex
        justify-content: space-between
        align-items: center
        header-menu()
        font-weight: 600
    /*right size*/
    .main__right-size
        display flex
        justify-content: space-between
        align-items: center
        font-size: 1.5rem    
        & i
            color: txt-color
            padding: 1rem
            border: .1rem solid txt-color
            border-radius: 100%            
        & .fa-bars
            color: white 
            background: color-a
            border: .1rem solid color-a
            border-radius: 100%
    /*content*/
    .content 
        padding: 1rem
        display: flex
        flex-direction: column
        text-align: center
    /*content info*/
    .content__info
        & h1
            color: color-b
        & strong 
            color: color-a
        & p
            color: txt-color
            font-weight: 600
            margin 1rem 0
        & .buttons
            margin 1rem 0
            display flex
            justify-content: center
        & .button
            button()
        & #button1
            margin 0 1rem
            button-tomato()
        & #button2
            button-midnightblue()
            margin 0 1rem
    /*content image*/
    .content__img
        display: flex
        justify-content: center
        & figure
            max-width 90vw
        & img 
            width: 100%
/*Tablets*/
@media screen and (min-width:768px) and (max-width:1023px)
    html
        font-size: 15px
    /*main section styles*/
    .main
        background-color: white
    /*header*/
    .main__header
        display: grid
        padding: 1rem
        grid-template-columns: .5fr 1fr .5fr
    /*left size*/
    .main__left-size
        color: color-b
        margin: 0 auto
        font-size: 1.5rem
    /*nav*/
    .main__nav
        display flex
        justify-content: space-between
        align-items: center
        header-menu()
        font-weight: 600
        & a
            font-size: 1rem
    /*right size*/
    .main__right-size
        display flex
        justify-content: space-evenly
        align-items: center
        font-size: 1rem    
        & i
            color: txt-color
            padding: .5rem
            border: .1rem solid txt-color
            border-radius: 100%            
        & .fa-bars
            color: white 
            background: color-a
            border: .1rem solid color-a
            border-radius: 100%
    /*content*/
    .content 
        padding: 1rem
        display: flex
        flex-direction: column
        text-align: center
    /*content info*/
    .content__info
        & h1
            color: color-b
        & strong 
            color: color-a
        & p
            color: txt-color
            font-weight: 600
            margin 1rem 0
            font-size: 1.2rem
        & .buttons
            margin 1rem 0
            display flex
            justify-content: center
        & .button
            button()
        & #button1
            margin 0 5rem
            button-tomato()
        & #button2
            button-midnightblue()
            margin 0 5rem
    /*content image*/
    .content__img
        display: flex
        justify-content: center
        & figure
            max-width 70vw
        & img 
            width: 100%
/*small desktop screens*/
@media screen and (min-width:1024px) and (max-width:1439px)
    html
        font-size: 20px
    /*main section styles*/
    .main
        background-color: white
    /*header*/
    .main__header
        display: grid
        padding: 1rem
        grid-template-columns: .1fr 1fr .15fr
    /*left size*/
    .main__left-size
        color: color-b
        margin: 0 auto
        font-size: 1.5rem
    /*nav*/
    .main__nav
        display flex
        justify-content: center
        align-items: center
        header-menu()
        font-weight: 600
        & a
            font-size: .7rem
            margin 0 1rem
    /*right size*/
    .main__right-size
        display flex
        justify-content: space-between
        align-items: center
        font-size: .5rem    
        & i
            color: txt-color
            padding: .5rem
            border: .1rem solid txt-color
            border-radius: 100%            
        & .fa-bars
            color: white 
            background: color-a
            border: .1rem solid color-a
            border-radius: 100%
    /*content*/
    .content 
        padding: 1rem
        display: grid
        grid-template-columns: repeat(7,1fr)
        grid-template-rows: repeat(5,1fr)
        grid-template-areas: ". . . . img img img" ". info info info img img img" ". info info info img img img" ". info info info img img img" ". . . . img img img"
    /*content info*/
    .content__info
        grid-area: info
        text-align: center
        font-size: .5rem
        margin auto
        & h1
            color: color-b
            font-size: 2.5rem
        & strong 
            color: color-a
        & p
            color: txt-color
            font-weight: 600
            margin 1rem 0
            font-size: .7rem
        & .buttons
            margin 2rem 0
            display flex
            justify-content: center
        & .button
            button()
            padding: .5rem .5rem
        & #button1
            button-tomato()
            margin-right 1rem
        & #button2
            button-midnightblue()
    /*content image*/
    .content__img
        grid-area: img
        display: flex
        justify-content: center
        & figure
            max-width 100vw
        & img 
            width: 100%
