button()
    padding: .5rem 2rem
    & i 
        margin-left: .5rem
        color white
    & a
        text-decoration: none
        color: white

button-tomato()
    background: color-a
    border-radius: .5rem

button-midnightblue()
    background: color-b 
    border-radius: .5rem

text-color()
    color: text-color

card-with-img()
    color: color-b
    display: grid
    padding: 1rem
    gap: 1rem 0
    & h2
        font-size: 2rem
    & figure 
    img
        width: 100%
    & i 
        min-width: 1rem
        border-bottom: .1rem solid color-b

card-without-img()
    color: color-b
    display: grid
    padding: 1rem
    gap 1rem 0
    & h1
        font-size: 2rem
    & p
        color: text-color
    & a
        margin-right: .5rem
    & i
        color: color-b

header-menu()
    & a
        transition: 1s
        color: color-b
        text-decoration: none
        font-size: 1.3rem
    & a:hover
        color:color-a 
        position: relative
        top:-1rem 
        transition: .3s  