/*imports*/
@import './variables'
@import './mixin'
/*small mobiles and medium mobiles*/
@media screen and (min-width:320px) and (max-width:424px)
    .modal-bg
        position: fixed   
        width: 100%
        height 100vh
        top 0
        left 0
        background-color: rgba(0,0,0,0.8)
        display: flex
        justify-content: center
        align-items: center
        visibility: hidden
        opacity 0
        & .modal
            position: relative
            padding: 1rem
            background-color: white
            display: flex
            flex-direction: column         
            text-align: center
            align-items:center
            & label 
                margin 1rem 0
                font-weight: 450
            & a 
                button-tomato()
                color white
                padding: .5rem 3rem
                margin-top: 1rem
                text-transform: uppercase
                font-weight: 500
                cursor pointer
            & h2
                color: color-b
            & .modal-close
                position: absolute
                top 1rem
                right 1rem
                font-weight: 600
                cursor pointer
    #welcome-label
        position absolute
        top 0
        right 1rem
        color: color-a
        font-weight: 500
/*Large mobiles*/
@media screen and (min-width:425px) and (max-width:767px)
    .modal-bg
        position: fixed   
        width: 100%
        height 100vh
        top 0
        left 0
        background-color: rgba(0,0,0,0.8)
        display: flex
        justify-content: center
        align-items: center
        visibility: hidden
        opacity 0
        & .modal
            position: relative
            padding: 1rem
            background-color: white
            display: flex
            flex-direction: column         
            text-align: center
            align-items:center
            & label 
                margin 1rem 0
                font-weight: 450
            & a 
                button-tomato()
                color white
                padding: .5rem 3rem
                margin-top: 1rem
                text-transform: uppercase
                font-weight: 500
                cursor pointer
            & h2
                color: color-b
            & .modal-close
                position: absolute
                top 1rem
                right 1rem
                font-weight: 600
                cursor pointer
    #welcome-label
        position absolute
        top 0
        right 1rem
        color: color-a
        font-weight: 500
/*Tablets*/
@media screen and (min-width:768px) and (max-width:1023px)
    .modal-bg 
        position: fixed   
        width: 100%
        height 100vh
        top 0
        left 0
        background-color: rgba(0,0,0,0.8)
        display: flex
        justify-content: center
        align-items: center
        visibility: hidden
        opacity 0
        & .modal
            position: relative
            padding: 3rem
            background-color: white
            display: flex
            flex-direction: column         
            text-align: center
            align-items:center
            & label 
                margin 1rem 0
                font-weight: 450
            & a 
                button-tomato()
                color white
                padding: .5rem 3rem
                margin-top: 1rem
                text-transform: uppercase
                font-weight: 500
                cursor pointer
            & h2
                color: color-b
            & .modal-close
                position: absolute
                top 1rem
                right 1rem
                font-weight: 600
                cursor pointer
    #welcome-label
        position absolute
        top 0
        right 40%
        color: color-a
        font-weight: 500
/*small desktop screen*/
@media screen and (min-width:1024px) and (max-width:1439px)
    .modal-bg 
        position: fixed   
        width: 100%
        height 100vh
        top 0
        left 0
        background-color: rgba(0,0,0,0.8)
        display: flex
        justify-content: center
        align-items: center
        visibility: hidden
        opacity 0
        & .modal
            position: relative
            padding: 3rem
            background-color: white
            display: flex
            flex-direction: column         
            text-align: center
            align-items:center
            & label 
                margin 1rem 0
                font-weight: 450
            & a 
                button-tomato()
                color white
                padding: .5rem 3rem
                margin-top: 1rem
                text-transform: uppercase
                font-weight: 500
                cursor pointer
            & h2
                color: color-b
            & input 
                width: 15rem
            & .modal-close
                position: absolute
                top 1rem
                right 1rem
                font-weight: 600
                cursor pointer
    #welcome-label
        position absolute
        top 0
        right 40%
        color: color-a
        font-weight: 500
/*big desktop screen*/
@media screen and (min-width:1440px) and (max-width:2559px)
    .modal-bg 
        position: fixed   
        width: 100%
        height 100vh
        top 0
        left 0
        background-color: rgba(0,0,0,0.8)
        display: flex
        justify-content: center
        align-items: center
        visibility: hidden
        opacity 0
        & .modal
            position: relative
            padding: 3rem
            background-color: white
            display: flex
            flex-direction: column         
            text-align: center
            align-items:center
            & label 
                margin 1rem 0
                font-weight: 450
            & a 
                button-tomato()
                color white
                padding: .5rem 3rem
                margin-top: 1rem
                text-transform: uppercase
                font-weight: 500
                cursor pointer
            & h2
                color: color-b
            & input 
                width: 15rem
            & .modal-close
                position: absolute
                top 1rem
                right 1rem
                font-weight: 600
                cursor pointer
    #welcome-label
        position absolute
        top 0
        right 40%
        color: color-a
        font-weight: 500
/*class for activing modal*/
.active
    visibility: visible
    opacity 1
    transition: .3s